.cal{
    /* background-color: #F4F6F8; */
    background-color: var(--bg-primary);
    color: var(--text-primary); 
    flex: 1;   
    min-height: 0;
    overflow: hidden;
  }
  .fc {
    padding: 10px;
    border-radius: 20px;
    background-color: var(--bg-primary);
    /* background:  #F4F6F2; */
    color: var(--text-primary);
  }
  .fc-col-header-cell{
    background-color: var(--bg-primary);
    color: var(--text-primary) !important;
  }
  .fc-col-header-cell-cushion {
    color: var(--text-primary) !important;
    
  }
  .fc-toolbar-title{
    color: var(--text-primary);
  }
  .fc-daygrid-day-number {
    color: var(--text-primary) !important;
    padding: 5px !important;
  }
  .fc-daygrid-day-frame {
    background-color: var(--bg-primary);
    height: 120px !important;
    overflow-y: auto;
    scrollbar-width:none;
}
