.expense-list-card{
    display: flex;
    flex-direction: column;
    height: 75vh;
    box-sizing: border-box;   /* VERY IMPORTANT */

    font-size: 1.4rem;
    width: 90%;
    color: var(--text-primary);
    align-self: center;
    background-color: var(--bg-primary);
    margin: 20px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.12);
    padding-top:10px ;
}
.scrollable-area{
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: rgba(120, 120, 120, 0.4) transparent;
    scroll-behavior: smooth;
    min-height: 0;
}

.expense-item{
    display: flex;
    justify-content: space-between ;
    margin-bottom: 5px;
}.right{
    opacity: 80%;
}

.expense-item .mid{
    width: 10;
}

.expense-total{
    flex-shrink: 0;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    /* margin-top: 20px; */
}

.expense-list-title-bar{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E5E7EB;
    margin-bottom: 5px;
}
h5{
    transform: translateY(10%);
}

@media (max-width: 767px) {
    .expense-item{
        font-size: 1rem;
    }
    .expense-list-card{
        height: auto;
    }
}