.expense-graph-wrapper{
    background-color: white;
    border-radius: 8px;
    margin: 20px;
    padding: 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.12);
    font-size: 1.4rem;
    
}

.exp-title-bar{
    border-bottom: 1px solid #d5d9e0;
    padding: 0px 20px;
    display: grid;
    grid-template-columns: auto auto;
    
}
.title-bar-right{
    display: flex;
    justify-content: end;
    gap: 40px;
    font-weight: 500;
    align-items: center;
}
.btn-arr{
    
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 30px;    
}

.expense-ui{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 20px;
}

.categorized-exp{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.exp-cat{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
}