.expense-graph-wrapper{
    position: relative;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.12);
    font-size: 1.4rem;
    height: 60%;
}
.exp-title-bar{
    border-bottom: 1px solid #d5d9e0;
    padding: 5px 20px;
    display: grid;
    grid-template-columns: auto auto;
    
}
.title-bar-right{
    display: flex;
    justify-content: end;
    gap: 40px;
    font-weight: 500;
    align-items: center;
}
/* .btn-arr{
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 30px;    
    } */
.css-1308xjd-MuiChartsLegend-root{
    color: var(--text-primary) !important;
}
.btns {
  display: flex;
  align-items: center;      /* vertical center */
  justify-content: center;  /* horizontal center */
  
  /* border-radius: 5px; */
  height: 40px;
  width: 30px;
  
  color: rgb(255, 255, 255);
  background-color: rgb(56, 100, 100);
  cursor: pointer;
}



.expense-ui{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 20px;
}

.categorized-exp{
    margin: 20px 0px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}
.exp-cat{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
}

.exp-title{
    font-size: 1.6rem;
    position: absolute;
    bottom: 5%;
    right: 20%;
}
@media (max-width: 767px) {
    .expense-ui{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}