.todos{
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    
}

.todos h1{
    padding: 15px 20px;
    text-align: start;
}

.todo-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* max-width: 460px; */
}