.toggle-switch{
    position: relative;
    display: flex;

    background-color:  rgb(154, 154, 201);
    width: fit-content;
    border-radius: 20px;
}

.toggle-switch button{
    background-color: transparent;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    transition: all 2s ease;
    z-index: 1;
}

.toggle-switch button.active{
    background-color: white;
    border-radius: 20px;
    margin: 5px;
    color: black;
}
