.todo-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 80%;
    background-color: #DCE6F0;
    color: black;
    border-radius: 20px;
    margin: 10px 0px;
}
.left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.complete-btn{
    font-size:1.8rem;
    color: rgb(159, 218, 71);
}

.content{
    display: flex;
    flex-direction: column;
    
}
.right{
    text-align: center;
}
.card-title{
    font-weight: 500;
}
.delete-btn{
    font-size:x-large;
    opacity: 50%;
}:hover{
    opacity: 100%;
}

.status-text{
    opacity: 90%;
}
.due{
    color: red;
}