.MainPage-Layout {
  height: 100vh;
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-template-columns: 60% 40%;

  /* background-color: ; */
}
.MainPage-Layout > div {
  min-height: 0;
}


.cal-wrapper {
  border-right: 1px solid #E5E7EB;
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 0;
  overflow: hidden; /* IMPORTANT */
  
}
